@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&family=Cabin:wght@700&family=Mukta+Vaani:wght@300&display=swap');

$heading-large: 'Alegreya Sans', sans-serif;
$heading-small: 'Cabin', sans-serif;
$body: 'Mukta Vaani', sans-serif;

$xl: 3em;
$large: 2.5em;
$medium: 2em;
$small: 1.5em;
$xs: 1em;
