@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&family=Cabin:wght@700&family=Mukta+Vaani:wght@300&display=swap');

$heading-large: 'Alegreya Sans', sans-serif;
$heading-small: 'Cabin', sans-serif;
$body: 'Mukta Vaani', sans-serif;

$xl: 3rem;
$large: 2.5rem;
$medium: 2rem;
$small: 1.5rem;
$middy: 1.25rem;
$xs: 1em;
