@import "./colors.scss";
@import './font.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.intro {
  h1 {
    text-align: center;
  }
}

.btn {

    // border: 1px solid red;
    padding-top: 6px;
    border-radius: 25px;
    width: 90px;
    text-align: center;
    color: $lightest;
    background-color: $background;
    display: inline-block;
  
}
 .btn:visited {
  text-decoration: none;
}
 .btn:hover {
  color: $background;
  background-color: $mid-light;
}

//without this rule, the 'read more' buttons' text doesn't get colored by the above rules
.card .btn {
  padding-top: 0px;
  color: $lightest;
}

.card .btn:hover {
    color:$background;
  }

header {
  // background-color: $dark;
  // border: 1px solid red;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}

body {
  background-color: $lightest;
  color: black;

  h1 {
    font-family: $heading-large;
  }

  h2, h3 {
    font-family: $heading-small;
  }

  p, a {
    font-family: $body;
    // border: 1px solid red;
  }

  .card a {
    text-decoration: none;
    color: $background;
  }

  line-height: 1.5;

  .card {
    // background-color: red;
    // border: 1px solid red;
    margin: 20px 0px;
  }
}

// post image
.cover_image {
  width: 100%;
  height: auto;
}


.react-icons {
  // vertical-align: middle;
  color: $lightest;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

// body {
//   font-family: 'Poppins', sans-serif;
//   background: white;
// }
// 
// p {
//   margin: 15px 0;
//   line-height: 1.8;
//   color: $lightest;
// }
// 
// a {
//   text-decoration: none;
//   color: $lightest;
// }
// 
// img {
//   width: 100%;
//   border-radius: 10px;
// }
// 
// header {
//   background: $background;
//   color: $lightest;
//   padding: 5px;
//   margin-bottom: 40px;
// }
// 
// header a {
//   color: $lightest;
// }
// 
// .container {
//   max-width: 768px;
//   margin: auto;
//   overflow: auto;
//   padding: 0 10px;
// }
// 
// .btn {
//   display: inline-block;
//   background: $dark;
//   color: $lightest;
//   border: none;
//   padding: 8px 16px;
//   border-radius: 5px;
//   cursor: pointer;
//   text-decoration: none;
//   font-size: 15px;
//   font-family: inherit;
// }
// 
// .btn:focus {
//   outline: none;
// }
// 
// .btn:hover {
//   transform: scale(0.98);
// }
// 
// .btn-back {
//   background: $dark;
//   color: $lightest;
//   margin-bottom: 20px;
// }
// 
// .posts {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 30px;
//   margin-top: 30px;
// }
// 
// .card {
//   padding: 15px;
//   border-radius: 10px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
// }
// 
// .card-page {
//   padding: 15px 30px;
// }
// 
// .post-title {
//   margin: 10px 0;
// }
// 
// .post-date {
//   background: $mid;
//   margin-bottom: 20px;
//   padding: 3px 10px;
// }
// 
// .post-body ul,
// ol {
//   font-size: 110%;
//   line-height: 2.3;
//   font-weight: bold;
//   margin: 10px 0;
// }
// 
// .post-body pre {
//   background: #red;
//   padding: 20px;
//   margin: 20px 0;
//   line-height: 2.3;
// }
// 
// @media (max-width: 500px) {
//   .posts {
//     grid-template-columns: 1fr;
//   }
// }
