@import "./colors.scss";
@import "./posts.scss";
@import "./font.scss";
// @import "./font-sizing.scss";
@import "./responsive/large.scss";
@import "./responsive/small.scss";

$fontsize: 2.15rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $background;
}

// img {
  // width: 200px;
  // border-radius: 50%;
// }

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // gap: 10px;

  h1 {
    text-align: center;
    font-size: $large;
    display: inline-block;
    span {

      color: $mid-light;
    }
  }
}

.btn-back,
.btn {
  // border: 1px solid red;
  padding-top: 8px;
  border-radius: 25px;
  width: 90px;
  text-align: center;
  color: red;
  background-color: $button-bg;
  display: inline-block;
}

.btn-back:visited,
.btn:visited {
  text-decoration: none;
}

.btn-back:hover,
.btn:hover {
  color: $background;
  background-color: $mid-light;
}

//without this rule, the 'read more' buttons' text doesn't get colored by the above rules
.card .btn, .card {
  padding-top: 14px;
  color: $lightest;
}

.card .btn:hover {
  color: $background;
}

header {
  margin: 30px 30px 30px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

body {
  background-color: $background;
  color: $white;
  font-feature-settings: "kern";

  h1 {
    font-family: $heading-large;
    font-size: $medium;
  }

  h2,
  h3 {
    font-family: $heading-small;
    // color: $mid-light;
  }

  p,
  a,
  li {
    font-family: $body;
    font-size: $middy;
    // border: 1px solid red;
  }

  li {
    font-size: $middy;
  }

  .card a {
    text-decoration: none;
    color: $background;
  }

  line-height: 1.33;

  .card {
    margin: 20px 0px;
  }

  .container {
    // border-bottom: 2px solid white;
    max-width: 800px;
    margin: 0 auto;
    // border: 1px solid blue;
  }
  $ul-margin: 20px;
  .about .tidbit {
    // border: 1px solid red;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;

    h2 {
      white-space: nowrap;
      width: 120px;
    }

    ul {
      margin-left: $ul-margin;
    }
    p {
      margin-top: 5px;
    }
    h3 {
      margin-top: 10px;
      color: $mid-light;
    }
  }
}

#bye {
  // color: $mid-light;
  margin-top: 60px;
  text-align: center;
}

.react-icons {
  // vertical-align: middle;
  color: $white;
}

#bye {
  padding-bottom: 2rem;
}
