@import "./font.scss";
@import "./colors.scss";

.posts h2 {
  font-family: $heading-small;
  font-size: 1.8em;
  margin: 2em auto 1em;
  text-decoration: underline;
}

.posts {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.posts .card:nth-child(even) {
  align-self: flex-end;
}

.posts .card {
  width: 400px;
  margin: 20px;
  padding: 20px;
  // color: $white;
  background-color: #253d58;

  display: flex;
  flex-flow: column wrap;
  align-content: center;

  border: 1px solid white;
  border-radius: 14px;

  h3 {
    font-size: 1.4rem;
    color: white;
  }
}

.card-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 80%;

  .container .overlay {
    font-family: $heading-large;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .post-title {
      font-size: 2rem;
    }

  }


  .post-date,
  .post-body p {
    font-family: $body;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .cover_image {
    border-radius: 20%;
    filter: brightness(60%) blur(8px);
    width: 800px;
    height: auto;
  }
}
