@import "./font.scss";
@import "./colors.scss";

h3 {
  font-size: $small;
  color: $mid-light;
}
.post-date {
  font-size: $small;
  color: $white;
}

.card-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .post-title {
    font-size: $xl;
  }

  .post-body p {
    font-size: $small;
  }
  .cover_image {
    border-radius: 20%;
  }

  .post-body {
    margin: 1rem 10%;

    h1 {
      color: $mid-light;
      margin-top: 1rem;
    }
  }
}
