@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&family=Cabin:wght@700&family=Mukta+Vaani:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #122942;
}

img {
  width: 200px;
  border-radius: 50%;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.intro h1 {
  text-align: center;
  font-size: 2.5rem;
}
.intro h1 span {
  color: #e39f84;
}
.intro img {
  width: 300px;
}

.btn {
  padding-top: 8px;
  border-radius: 25px;
  width: 90px;
  text-align: center;
  color: red;
  background-color: #364f6a73;
  display: inline-block;
}

.btn:visited {
  text-decoration: none;
}

.btn:hover {
  color: #122942;
  background-color: #e39f84;
}

.card .btn {
  padding-top: 0px;
  color: #f4f1de;
}

.card .btn:hover {
  color: #122942;
}

header {
  margin: 30px 30px 30px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

body {
  background-color: #122942;
  color: rgba(255, 255, 255, 0.85);
  font-feature-settings: "kern";
  line-height: 1.5;
}
body h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.3rem;
}
body h2, body h3 {
  font-family: "Cabin", sans-serif;
}
body p, body a, body li {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.4rem;
}
body .card a {
  text-decoration: none;
  color: #122942;
}
body .card {
  margin: 20px 0px;
}
body .about {
  max-width: 1400px;
  margin: 0 auto;
}
body .about .tidbit {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
body .about .tidbit h2 {
  white-space: nowrap;
  width: 120px;
}
body .about .tidbit ul {
  margin-left: 20px;
}
body .about .tidbit p {
  margin-top: 5px;
}
body .about .tidbit h3 {
  margin-top: 10px;
  color: #e39f84;
}

#bye {
  margin-top: 60px;
  text-align: center;
}

.cover_image {
  width: 100%;
  height: auto;
}

.react-icons {
  color: rgba(255, 255, 255, 0.85);
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

#bye {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 1000px) {
  .about p, .about li {
    font-size: 1.5rem;
  }
  .about h2 {
    font-size: 1.5rem;
    text-align: right;
  }
  .about h3 {
    font-size: 1.8rem;
  }
  .about .tidbit h2 {
    min-width: 150px;
  }

  .intro {
    margin-right: 10rem;
    margin-bottom: 4em;
  }
  .intro img {
    width: 240px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .intro h1 {
    display: inline-block;
    padding-left: 0;
    font-size: 2.4rem;
  }

  header {
    padding-top: 3rem;
    color: #e39f84;
    gap: 2rem;
  }
  header .btn {
    width: 100px;
  }
  header .btn:not(:first-child) {
    padding-top: 0.8rem;
  }
  header .react-icons {
    font-size: 33px;
  }

  .job h3 {
    color: #e39f84;
    font-size: 1.5rem;
  }

  header:nth-of-type(2) {
    display: none;
  }

  #bye {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .intro {
    margin: 40px 0;
    flex-direction: column;
    gap: 36px;
  }
  .intro h1 {
    font-size: 2.15rem;
    line-height: 0.1;
    display: block;
  }
  .intro img {
    width: 200px;
  }

  body h2 {
    margin: 0;
  }
  body .about {
    margin: 0 20px;
  }
  body .about .tidbit {
    flex-direction: column;
  }
  body .about .tidbit {
    flex-direction: column;
    gap: 0;
  }
  body .experience {
    margin: 0 20px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  body .experience h2 {
    margin-bottom: 5px;
  }
  body .experience .job h3 {
    color: #e39f84;
  }
  body header {
    margin: 25px 0 20px;
  }
  body .btn {
    padding-top: 8px;
    padding-left: 0px;
    width: 60px;
    height: 40px;
  }
  body #bye {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=globals.css.map */
